h1 {
  font-family: 'RubikBold';
}

h2 {
  font-family: 'RubikBold';
}

h3 {
  font-family: 'RubikBold';
}

p {
  font-family: 'Rubik';
}

@font-face {
  font-family: 'RubikBold';
  src: url(./fonts/Rubik-Bold.ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/Rubik-Regular.ttf);
}