h1 {
  font-family: 'RubikBold';
}

h2 {
  font-family: 'RubikBold';
}

h3 {
  font-family: 'RubikBold';
}

p {
  font-family: 'Rubik';
}

@font-face {
  font-family: 'RubikBold';
  src: url(./fonts/Rubik-Bold.ttf);
}

@font-face {
  font-family: 'Rubik';
  src: url(./fonts/Rubik-Regular.ttf);
}

#main-button {
  background-color: #522a80;
  color: white;
  font-family: "Rubik";
  font-size: 14px;
  border-radius: 6px;
  margin-top: auto; 
}

#clicked-button {
  background-color: #8c71a8;
  color: white;
  font-family: "Rubik";
  font-size: 14px;
  border-radius: 6px;
  margin-top: auto; 
}