h1 {
  font-family: 'Rubik-Bold';
}

h2 {
  font-family: 'Rubik-Bold';
}

h3 {
  font-family: 'Rubik-Bold';
}

p {
  font-family: 'Rubik-Regular';
}

@font-face {
  font-family: 'Rubik-Bold';
  src: url(./fonts/Rubik-Bold.ttf);
}

@font-face {
  font-family: 'Rubik-Regular';
  src: url(./fonts/Rubik-Regular.ttf);
}

#main-button {
  background-color: #522a80;
  color: white;
  font-family: "Rubik-Regular";
  font-size: 14px;
  border-radius: 6px;
  margin-top: auto; 
}

#clicked-button {
  background-color: #8c71a8;
  color: white;
  font-family: "Rubik-Regular";
  font-size: 14px;
  border-radius: 6px;
  margin-top: auto; 
}